* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b1b7ba;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #eef6f9;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #1d282e;
  width: 90%;
  max-width: 400px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px #1d282e;
  /* border: 1px solid #81bece; */
  text-align: center;
}

.select__button {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  justify-content: center;
}

.select__button select,
.select__button button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background: #a0835c;
  color: #eef6f9;
  font-weight: 600;
}

img {
  width: 100%;
  border-radius: 10px;
}
